<div class="loader">
  <p-skeleton width="20rem" height="4rem" borderRadius="16px"></p-skeleton>
  <div class="loader-containers">
    <p-skeleton width="8rem" height="2rem"></p-skeleton>
    <p-skeleton width="8rem" height="2rem"></p-skeleton>
    <p-skeleton width="8rem" height="2rem"></p-skeleton>
    <p-skeleton width="8rem" height="2rem"></p-skeleton>

</div>
<div class="loader-containers">
  <p-skeleton width="8rem" height="2rem"></p-skeleton>
  <p-skeleton width="8rem" height="2rem"></p-skeleton>
  <p-skeleton width="8rem" height="2rem"></p-skeleton>
  <p-skeleton width="8rem" height="2rem"></p-skeleton>


</div>

  <p-skeleton height="2rem"  width="30rem"></p-skeleton>
  <p-skeleton height="2rem"  width="30rem"></p-skeleton>

</div>
