@import '../../../../../../library.scss';

.container-roomservice_modal {
  display        : flex;
  width          : 88vw;
  height         : 90vh;
  font-family    : $font-secundaria;
  flex-direction : column;
  flex-wrap      : nowrap;
  justify-content: space-between;

  & .titulo-rooms_servece {
    text-align   : end;
    font-weight  : 700;
    font-size    : 17pt;
    color        : $wine;
    margin-bottom: 5px;
  }

  & .modal-footer-content.comanda {
    text-align: center;
    margin    : 5px 0px;
    width     : 100%;
  }

  & .modal-footer-content.footer {
    text-align: end;
    margin-top: 0px;
    width     : 100%;
  }
}

.container-list_products {
  overflow: auto;
  padding : 0 5px;
}

.container-cards_comanda {
  display        : flex;
  flex-direction : row;
  flex-wrap      : nowrap;
  justify-content: flex-start;
  height         : 100%;
  align-items    : center;
  overflow-x     : scroll;
  overflow-y     : clip;
  padding        : 3px 0;

  & .card-room_service {
    height         : 100%;
    box-shadow     : $shadow-modal-tittle;
    border-radius  : $border-radius-tittle;
    width          : 41vh;
    margin         : 10px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    .header-card_comanda {

      display       : flex;
      width         : 89%;
      flex-direction: column;
      margin        : 10px auto 18px;
      align-items   : center;

      &.preparacion {
        font-family     : $font-secundaria;
        border-radius   : $border-radius-tittle;
        background-color: #F0FFF1;
        border          : 1px solid;
        color           : #0ac917;
        box-shadow      : 0px 0px 8px 0px rgba(10, 201, 23, 1),
          inset 0px 0px 4px -2px rgba(10, 201, 23, 1);
      }

      &.porcobrar {
        font-family     : $font-secundaria;
        border-radius   : $border-radius-tittle;
        background-color: #FCDFE3;
        border          : 1px solid;
        color           : #fd0022;
        box-shadow      : 0px 0px 8px 0px rgba(253, 0, 34, 1),
          inset 0px 0px 4px -2px rgba(253, 0, 34, 1);
      }

      &.porpagar {
        font-family     : $font-secundaria;
        border-radius   : $border-radius-tittle;
        background-color: #F0F9FF;
        border          : 1px solid;
        color           : #1492e6;
        box-shadow      : 0px 0px 8px 0px rgba(20, 146, 230, 1),
          inset 0px 0px 4px -2px rgba(20, 146, 230, 1);
      }

      & .status-comanda {
        font-family    : $font-secundaria;
        display        : flex;
        width          : 95%;
        flex-direction : row;
        justify-content: space-between;
      }
    }

    & .products-to_pay {
      font-family    : $font-principal;
      display        : flex;
      flex-direction : row;
      flex-wrap      : nowrap;
      justify-content: space-between;
      width          : 92%;
      font-size      : 9pt;
      // margin: 5px;
      margin         : 0 auto;
      color          : $grey-item;
    }

    .title-cortesia {
      margin: 10px 5px;
      color : $wine;
    }

    & .cobro-total-comanda {
      width  : 89%;
      margin : 6px auto 0;
      padding: 3px 0;

      & .separadores-total {
        display        : flex;
        width          : 91%;
        margin         : 0 auto;
        font-size      : $font-normal-size;
        justify-content: space-between;
      }

      &.preparacion {
        border-radius   : $border-radius-tittle;
        background-color: #F0FFF1;
        border          : 1px solid;
        color           : #0ac917;
        box-shadow      : 0px 0px 8px 0px rgba(10, 201, 23, 1),
          inset 0px 0px 4px -2px rgba(10, 201, 23, 1);


      }

      &.porcobrar {
        border-radius   : $border-radius-tittle;
        background-color: #FCDFE3;
        border          : 1px solid;
        color           : #fd0022;
        box-shadow      : 0px 0px 8px 0px rgba(253, 0, 34, 1),
          inset 0px 0px 4px -2px rgba(253, 0, 34, 1);
      }

      &.porpagar {
        border-radius   : $border-radius-tittle;
        background-color: #F0F9FF;
        border          : 1px solid;
        color           : #1492e6;
        box-shadow      : 0px 0px 8px 0px rgba(20, 146, 230, 1),
          inset 0px 0px 4px -2px rgba(20, 146, 230, 1);
      }
    }

    & .products-to_cortesia {
      display        : flex;
      flex-direction : row;
      flex-wrap      : nowrap;
      justify-content: space-between;
      width          : 92%;
      // margin: 5px;
      font-size      : 9pt;
      margin         : 0 auto;
      color          : $wine;
    }
  }
}

.button-add_comanda {
  background-color: $wine;
  border-radius   : $border-button;
  border          : none;
  color           : #fff;
  height          : 6vh;
  width           : 3vw;
  font-size       : 20pt;

  &:hover {
    background-color: $wine-hover;
  }
}

.footer-card {
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;

  & .button-card {
    width        : 9vh;
    height       : 9vh;
    border-radius: 10px;
    opacity      : 1;
    color        : #fff;
    border       : 1px solid transparent;
    margin       : 3px;
  }

  & .text-card {
    font-size: 8pt;
  }
}
