@import "../../../../styles.scss";

.loader {
  z-index: 30000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  img {
    position: absolute;
    width: 5vw;
    height: auto;
  }

  @media screen and (max-width: 40em) {
    img {
      width: 15% !important;
    }

    p-progressspinner .ui-progress-spinner {
      width: 30vw !important;
      height: 30vw !important;
    }
  }
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: $wine;
  }
  40% {
    stroke: $wine;
  }
  66% {
    stroke: $wine;
  }
  80%,
  90% {
    stroke: $wine;
  }
}
