<div class="message-wrapper">
    <h2>{{message}}</h2>
</div>
<div class="modal-footer-content">
    <button (click)="cancel()" class="button-modal button-descartar">
        <div class="icon">
            <i class="fa-solid fa-x"></i>
        </div>
        <div class="text">Cancelar</div>
    </button>
    <button (click)="confirm()" class="button-modal button-aceptar">
        <div class="icon">
            <i class="fa-solid fa-check"></i>
        </div>
        <div class="text">Aceptar</div>
    </button>
</div>