@import '../../../../library.scss';

.message-wrapper {
    margin: 4vh 1vw;
}

h2 {
    /* UI Properties */
    text-align: center;
    align-items: center;
    font: normal normal bold 30px/36px Rubik;
    letter-spacing: 0px;
    color: $grey-item;
    text-transform: uppercase;
    opacity: 1;
}