<nav class="d-lg-block sidebar bg-white shadow">
    <div class="">
        <div class="w-100 d-flex justify-content-end">
            <i class="fas fa-times-circle mx-3 mt-3 wine" (click)="toggle()"></i>
        </div>
        <div class="d-flex justify-content-around mt-2">
            <div 
                class="d-flex flex-column justify-content-center align-items-center rounded" 
                (click)="selectMenu('home')"
                [ngClass]="{'shadowed menu-box': isHomeMenuSelected}"
            >
                <i class="fas fa-home wine menu-icon mb-1"></i>
                <div class="divider" *ngIf="!isHomeMenuSelected"></div>
            </div>
            <div class="shadowed menu-box d-flex flex-column justify-content-center align-items-center rounded" 
                (click)="selectMenu('admin')"
                [ngClass]="{'shadowed menu-box': isAdminMenuSelected}"
            >
                <i class="far fa-user wine menu-icon mb-1"></i>
                <div class="divider" *ngIf="!isAdminMenuSelected"></div>

            </div>
            <div class="menu-box d-flex flex-column justify-content-center align-items-center rounded" 
                (click)="selectMenu('burguer')"
                [ngClass]="{'shadowed menu-box': isBurguerMenuSelected}"
            >
                <i class="fas fa-bars wine menu-icon mb-1"></i>
                <div class="divider" *ngIf="!isBurguerMenuSelected"></div>

            </div>
        </div>
        <div class="list-group list-group-flush mx-3 mt-1">
            <div class="my-2">
                <input type="text" [placeholder]="'Buscar tipo de habitación'" class="text-center w-100 search-text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div 
                *ngFor="let statusRoom of statusRooms"
                class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center shadow-sm"
                [ngClass]="statusRoom.color"
                (touchend)="addAnimation(textElement, statusRoom.isTextScrollable)"
                (mouseout)="removeAnimation(textElement, statusRoom.isTextScrollable)"
            >
                <span class="me-3 room-type__count">{{statusRoom.count}}</span>
                <div class="type-text__wrapper w-100 room-type__item nav-item">
                    <span 
                        class="me-3"
                        #textElement
                    >
                        <span *ngIf="isAnimated(textElement) else notAnimated;">
                            {{statusRoom.name}}
                        </span>
                        <ng-template #notAnimated>
                            <span class="text-nowrap">
                                {{isIpad ? (statusRoom.name|cutString:10) : statusRoom.name}}
                            </span>
                        </ng-template>
                    </span>
                </div>
                <span class="spacer"></span>
                <i 
                    [ngClass]="statusRoom.icon"
                    [ngStyle]="{'margin-right': statusRoom.iconExtraMargin}">
                </i>
            </div>
        </div>
        <div class="list-group list-group-flush m-3 shadow p-1 others-menu">
            <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center shadow-sm active">
                <span class="me-3">Vincular video</span>
                <span class="spacer"></span>
                <i class="fas fa-video"></i>
            </div>
            <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center shadow-sm item-disabled">
                <span class="me-3">Taxi</span>
                <span class="spacer"></span>
                <i class="demo-icon icon-car"></i>
            </div>
            <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center shadow-sm item-disabled">
                <span class="me-3 room-type__count">2</span>
                <span class="me-3">Mesas</span>
                <span class="spacer"></span>
                <i class="demo-icon icon-menu"></i>
            </div>
            <span class="spacer"></span>
            <div class="text-center mb-2">
                <img src="./assets/img/logo_GlobalMaster.png" alt="GM LOGO" width="80">
            </div>
        </div>
    </div>
</nav>