@import '../../../../library.scss';
@import'../../../../styles.scss';

.sidebar {
    height: 99vh;
    overflow: hidden;
}

.nav-item {
    height: 3vh;
}

.others-menu {
    height: 21vh;
    margin-bottom: 0;
}

.wine {
    color: $wine;
}

.spacer {
    flex: 1 1 auto;
}

.menu-box {
    width: 55px;
    height: 55px;
    border-bottom-style: solid 1px $wine;
}

.menu-icon {
    font-size: 25px;
}

.shadowed {
    box-shadow: 0px 0px 9px #00000073;
}

.divider {
    height: 2px;
    width: 2vw;
    // margin-top: 1vh;
    background-color: $wine;
}

.type-text__wrapper {
    position: relative;
}

.scroll-text {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    /* animation properties */
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);

    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 5s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(50%);
    }

    to {
        -moz-transform: translateX(-50%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(50%);
    }

    to {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    to {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.search-text {
    font-weight: 100;
}

.room-type__count {
    font-weight: 800;
}

.room-type__item {
    cursor: pointer;
    border-radius: 5px !important;
    overflow: hidden;
}

.room-type__item:hover {
    color: white;
}

.txt-success:hover {
    @include bg-success;
}

.txt-danger:hover {
    @include bg-danger;
}

.txt-warn:hover {
    @include bg-warn;
}

.txt-orange:hover {
    @include bg-orange;
}

.txt-blue:hover {
    @include bg-blue;
}

.txt-purple:hover {
    @include bg-purple;
}

.txt-grey-item:hover {
    @include bg-grey-item;
}

.item-disabled {
    background-color: $grey-item;
    color: white;
}

input {
    margin-right: -20px;
}

// Ipad mini
@media (max-width: 1025px) and (orientation: landscape) {
    input {
        font-size: small;
    }
}

// Pantalla normal
@media (min-width: 1026px) and (orientation: landscape) {
    .type-text__wrapper {
        margin-top: 5px;
    }
}
