<div class="w-100 d-flex justify-content-end">
    <i class="fas fa-times-circle mx-3 my-3 wine" (click)="exit()"></i>
</div>
<div class="room-details">
    <div class="titulo d-flex container">
        <b>Datos de Habitación</b>
        <span class="spacer"></span>
            <i
                class="fas fa-chevron-circle-down color-red-obs me-2 wine"
                (click)="isCollapsed.data = ! isCollapsed.data"
                *ngIf="isCollapsed.data"
            >
            </i>
            <i
                class="fas fa-chevron-circle-up color-red-obs me-2 wine"
                (click)="isCollapsed.data = ! isCollapsed.data"
                *ngIf="!isCollapsed.data"
            >
            </i>
    </div>
    <div [(ngbCollapse)]="isCollapsed.data" *ngIf="selectedRoom">
        <div>
            <div class="label-static text-center">HABITACIÓN</div>
            <div class="label-dynamic text-center container">
                {{'JUNIOR SUITE'}}
                <span class="wine">{{'2'}}</span>
            </div>
        </div>
        <div>
            <div class="label-static text-center">ESTADO</div>
            <div class="label-dynamic text-center container">{{'texto'}}</div>
        </div>
        <div>
            <div class="label-static text-center">ENTRADA</div>
            <div class="label-dynamic text-center container">{{'texto'}}</div>
        </div>
        <div>
            <div class="label-static text-center">AUTOMOVIL</div>
            <div class="label-dynamic text-center container">{{'texto'}}</div>
        </div>
        <div>
            <div class="label-static text-center">TARJETA V</div>
            <div class="label-dynamic text-center container">{{'texto'}}</div>
        </div>
    </div>
    <div class="titulo d-flex container mt-3">
        <b>Detalles</b>
        <span class="spacer"></span>
            <i
                class="fas fa-chevron-circle-down color-red-obs me-2 wine"
                (click)="isCollapsed.details = ! isCollapsed.details"
                *ngIf="isCollapsed.details"
            >
            </i>
            <i
                class="fas fa-chevron-circle-up color-red-obs me-2 wine"
                (click)="isCollapsed.details = ! isCollapsed.details"
                *ngIf="!isCollapsed.details"
            >
            </i>
    </div>
    <div [(ngbCollapse)]="isCollapsed.details" *ngIf="selectedRoom">
        <div>
            <div class="label-static text-center">HABITACIÓN</div>
            <div class="label-dynamic text-center container">
                {{'$00.00'}}
            </div>
        </div>
        <div>
            <div class="label-static text-center">PERSONAS EXTRAS</div>
            <div class="label-dynamic text-center container">{{'0'}}</div>
            <div class="label-dynamic text-center container">{{'$0.00'}}</div>
        </div>
        <div>
            <div class="label-static text-center">HOSPEDAJES EXTRAS</div>
            <div class="label-dynamic text-center container">{{'0'}}</div>
            <div class="label-dynamic text-center container">{{'$0.00'}}</div>
        </div>
        <div>
            <div class="label-static text-center">HORAS EXTRAS</div>
            <div class="label-dynamic text-center container">{{'texto'}}</div>
            <div class="label-dynamic text-center container">{{'$0.00'}}</div>
        </div>
        <div>
            <div class="label-static text-center">CORTESÍAS</div>
            <div class="label-dynamic text-center container">{{'$0.00'}}</div>
        </div>
        <div>
            <div class="label-static text-center">PAQUETES</div>
            <div class="label-dynamic text-center container">{{'$0.00'}}</div>
        </div>
    </div>
    <div class="titulo d-flex container mt-3">
        <b>Room Service</b>
        <span class="spacer"></span>
            <i
                class="fas fa-chevron-circle-down color-red-obs me-2 wine"
                (click)="isCollapsed.roomService = ! isCollapsed.roomService"
                *ngIf="isCollapsed.roomService"
            >
            </i>
            <i
                class="fas fa-chevron-circle-up color-red-obs me-2 wine"
                (click)="isCollapsed.roomService = ! isCollapsed.roomService"
                *ngIf="!isCollapsed.roomService"
            >
            </i>
    </div>
    <div [(ngbCollapse)]="isCollapsed.roomService" *ngIf="selectedRoom">
        <div>
            <div class="label-static text-center">SERVICIO DE RESTAURANTE</div>
            <div class="label-dynamic text-center container">
                {{'$0.00'}}
            </div>
        </div>
        <div>
            <div class="label-static text-center">OTROS</div>
            <div class="label-dynamic text-center container">
                {{'$0.00'}}
            </div>
        </div>
    </div>
</div>

<div class="list-group d-flex align-items-center list-group-flush p-1 others-menu">
    <ng-container [ngSwitch]="selectedRoom.status">
        <ng-container *ngSwitchCase="
            selectedRoom.status === AvailableRoomStatus.LIBRE ||
            selectedRoom.status === AvailableRoomStatus.BLOQUEADA||
            selectedRoom.status === AvailableRoomStatus.LIBRE_CON_DETALLES ?
            selectedRoom.status : ''">
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-success text-white" (click)="entrada()">
                <span class="me-3">Entrada de habitación</span>
                <i class="far fa-check-circle icon-pareja-ocupada"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-purple text-white" (click)="openModal('deshabilitarHabitacion')" *ngIf="selectedRoom.status !== AvailableRoomStatus.BLOQUEADA">
                <span class="me-3">Deshabilitar</span>
                <i class="far icon-candado"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-purple text-white" (click)="openModal('reservacion')" *ngIf="selectedRoom.status !== AvailableRoomStatus.BLOQUEADA">
                <span class="me-3">Reservación</span>
                <i class="far icon-calendar"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-grey-item text-white" (click)="openModal('mantenimiento')">
                <span class="me-3">Mantenimiento</span>
                <i class="far icon-mantenimiento"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white" (click)="cancelarBloqueo()">
                <span class="me-3">Cancelar Deshabilitado</span>
                <i class="fas fa-times-circle"></i>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="AvailableRoomStatus.PREPARADA">
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-success text-white" (click)="openModal('rentaHabitacion')" >
                <span class="me-3">Entrada de habitación</span>
                <i class="far fa-check-circle icon-pareja-ocupada"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white">
                <span class="me-3">Cancelar Entrada</span>
                <i class="fas fa-times-circle"></i>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="
            selectedRoom.status === AvailableRoomStatus.OCUPADA ||
            selectedRoom.status === AvailableRoomStatus.ROOM_SERVICE  ||
            selectedRoom.status === AvailableRoomStatus.ROOM_SERVICE_POR_COBRAR ?
            selectedRoom.status : ''"
        >
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-success text-white" (click)="openModal('rentaHabitacion/pagoExtraRenta')" [disabled]="isModoCambioHabitacion">
                <span class="me-3">Extras</span>
                <i class="fas fa-user-plus"></i>
            </button>
            <button 
                class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-orange text-white"
                (click)="togggleModoCambioHabitacion(true)" 
                *ngIf="!isModoCambioHabitacion"
                [disabled]="selectedRoom.status === AvailableRoomStatus.ROOM_SERVICE_POR_COBRAR"
            >
                <span class="me-3">Cambio de habitación</span>
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white" (click)="togggleModoCambioHabitacion(false)" *ngIf="isModoCambioHabitacion">
                <span class="me-3">Cancelar cambio</span>
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white"
            (click)="selectedRoom.status === AvailableRoomStatus.OCUPADA ? openModal('roomService') : openModal('roomService/comandas') "
            [disabled]="isModoCambioHabitacion">
                <span class="me-3">Room Service</span>
                <i class="icon icon-roomservice"></i>
            </button>
            <button 
                class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white"
                [disabled]="isModoCambioHabitacion || selectedRoom.status === AvailableRoomStatus.ROOM_SERVICE_POR_COBRAR"
            >
                <span class="me-3">Cancelar Entrada</span>
                <i class="fas fa-times-circle"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-grey-item text-white" [disabled]="isModoCambioHabitacion">
                <span class="me-3">Imprimir Ticket</span>
                <i class="fa-solid fa-print"></i>
            </button>
            <button 
                class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-wine text-white"
                [disabled]="isModoCambioHabitacion || selectedRoom.status === AvailableRoomStatus.ROOM_SERVICE_POR_COBRAR"
                (click)="salida()"
            >
                <span class="me-3">Salida</span>
                <i class="fas icon-icon-metro-exit"></i>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="
            selectedRoom.status === AvailableRoomStatus.POR_COBRAR ||
            selectedRoom.status === AvailableRoomStatus.ROOM_SERVICE_EXTRAS_POR_COBRAR ?
            selectedRoom.status : ''"
        >
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-success text-white" (click)="openModal('rentaHabitacion/cobroPendiente')">
                <span class="me-3">Cobrar Habitación</span>
                <i class="fa-solid fa-money-bills"></i>
            </button>
            <!-- TODO: definir la lógica de negocio en este caso: se va a poder añadir room service a una habitación con extras? -->
            <!-- <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white" (click)="openModal('roomService')">
                <span class="me-3">Room Service</span>
                <i class="icon icon-roomservice"></i>
            </button> -->
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-purple text-white" (click)="openModal('deshabilitarHabitacion')">
                <span class="me-3">Deshabilitar</span>
                <i class="far icon-candado"></i>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="
            selectedRoom.status === AvailableRoomStatus.SUCIA ||
            selectedRoom.status === AvailableRoomStatus.MEDIA_SUCIA ?
            selectedRoom.status : ''"
        >
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-blue text-white" (click)="openModal('salida/limpieza')">
                <span class="me-3">Enviar a limpieza</span>
                <i class="icon-limpieza"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white">
                <span class="me-3">Reportar matrícula</span>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-grey-item text-white">
                <span class="me-3">Camaristas en turno</span>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-grey-item text-white" (click)="openModal('mantenimiento')">
                <span class="me-3">Mantenimiento</span>
                <i class="far icon-mantenimiento"></i>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="AvailableRoomStatus.EN_LIMPIEZA">
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm active text-white" (click)="openModal('salida/supervisar')">
                <span class="me-3">Enviar Supervisor</span>
                <i class="icon-search"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-orange text-white">
                <span class="me-3">Cambiar Camarista</span>
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white">
                <span class="me-3">Cancelar Limpieza</span>
                <i class="fas fa-times-circle"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-grey-item text-white">
                <span class="me-3">Camaristas en turno</span>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="AvailableRoomStatus.RESERVADA">
          <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-success text-white" (click)="confirmarReservacion()" [disabled]="isModoCambioHabitacion">
              <span class="me-3">Confirmar Reservación</span>
              <i class="far fa-check-circle"></i>
          </button>
          <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white" [disabled]="isModoCambioHabitacion">
              <span class="me-3">Desanclar Reservación</span>
              <i class="far fa-times-circle pr-1"></i>
          </button>
          <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-orange text-white" (click)="togggleModoCambioHabitacion(true)" *ngIf="!isModoCambioHabitacion">
            <span class="me-3">Cambiar Habitación</span>
            <i class="fas fa-sync-alt"></i>
        </button>
        <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white" (click)="togggleModoCambioHabitacion(false)" *ngIf="isModoCambioHabitacion">
            <span class="me-3">Cancelar cambio</span>
            <i class="fas fa-sync-alt"></i>
        </button>
          <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-purple text-white" [disabled]="isModoCambioHabitacion">
            <span class="me-3">Datos de Reservación</span>
            <div><i class="icon-calendar"></i></div>
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="AvailableRoomStatus.RESERVADA_PREPARADA">
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-success text-white" (click)="openModal('rentaHabitacion')">
                <span class="me-3">Entrada de habitación</span>
                <i class="far fa-check-circle icon-pareja-ocupada"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-danger text-white">
                <span class="me-3">Cancelar Reservación</span>
                <i class="fas fa-times-circle"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-purple text-white" >
                <span class="me-3">Datos de Reservación</span>
                <div><i class="icon-calendar"></i></div>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="
                selectedRoom.status === AvailableRoomStatus.EN_SUPERVISION ||
                selectedRoom.status === AvailableRoomStatus.SUPERVISION_MANTENIMIENTO ?
                selectedRoom.status : ''
                ">
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-success text-white" (click)="openModal('salida/liberar')">
                <span class="me-3">Liberar Habitación</span>
                <i class="far fa-check-circle"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-orange text-white" (click)="openModal('salida/supervisar')">
                <span class="me-3">Cambiar Supervisor</span>
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-blue text-white" (click)="openModal('salida/limpieza')">
                <span class="me-3">Enviar a limpieza</span>
                <i class="icon-limpieza"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-grey-item text-white" *ngIf="selectedRoom.status === AvailableRoomStatus.EN_SUPERVISION">
                <span class="me-3">Camaristas en turno</span>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-purple text-white" *ngIf="selectedRoom.status === AvailableRoomStatus.SUPERVISION_MANTENIMIENTO">
                <span class="me-3 text-nowrap">Historial de mantenimiento</span>
            </button>
        </ng-container>
        <ng-container *ngSwitchCase="AvailableRoomStatus.MANTENIMIENTO">
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm active text-white" (click)="openModal('salida/supervisar')">
                <span class="me-3">Enviar Supervisor</span>
                <i class="icon-search"></i>
            </button>
            <button class="d-flex list-group-item py-2 my-1 others-menu_button align-items-center justify-content-between shadow-sm sot-bg-purple text-white">
                <span class="me-3 text-nowrap">Historial de mantenimiento</span>
            </button>
        </ng-container>
    </ng-container>
    <span class="spacer"></span>
    <div class="text-center mb-2">
        <img src="./assets/img/logo_GlobalMaster.png" alt="GM LOGO" width="80">
    </div>
</div>
