<div class="d-flex justify-content-center my-3 txt-wine">
    <div class="divider"></div>
</div>
<div class="list-group list-group-flush mx-2">
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">CONTROL DE EMPLEADOS</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">GASTOS DE CORTE</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ IMPRESORAS</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">INVENTARIOS</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">LAVANDERÍA</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">NUEVA FAJITA</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ OPERACIÓN</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ REPORTES</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ VINCULAR VIDEOS</span>
    </div>
</div>