@import '../../../../styles.scss';


.rooms-container2 .div-room-card,
.rooms-container .div-room-card {
  margin-top: 0.5vh;
  margin-right: 0.5vh;
  flex-grow: inherit;
  width: auto;
}

.d-flex-pool-spa .div-room-card {
  margin-top: 0.5vh;
  margin-right: 0.5vh;
  flex-grow: inherit;
  width: auto;
}

.d-flex-junior-suit .div-room-card {
  margin-top: 0.5vh;
  margin-right: 0.5vh;
  flex-grow: inherit;
  width: auto;
}

.roomCard {
  position: relative;
  background-color: #fff;
  padding: 6px;
  line-height: 1.1;
  // box-shadow: 0 8px 5px #ebeaea;
  border-radius: 5px;
  margin-bottom: 7px;
  width: 95px;
  height: 50px;
  cursor: pointer;
}

.roomCard .span-usuario-card {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: -30px;
  left: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #ffffff;
  padding: 3px;
  border-radius: 5px;
  border: currentColor 3px solid;
  z-index: 10;
  display: none;
}

.limitDescription {
  max-width: 60px;
  // text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.label-state {
  color: #707070;
}
.font-10px, .font-10px::placeholder {
  font-size: 10px;
}

.numero-habitacion {
  font-family: epilogueFont,Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #000;
}

.pie-adjust {
  width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.position-absolute {
  position: absolute!important;
}
.label-state {
  color: #707070;
}
.font-10px, .font-10px::placeholder {
  font-size: 10px;
}

.estilo-icon-in {
  font-size: 19px;
  margin-top: 7px;
}

.mr-1, .mx-1 {
  margin-right: 0.25rem!important;
}

.alert-blink-box {
  position: absolute;
  top: 0;
  bottom: 20px;
  left: 0;
  right: 0;
  display: block;
  z-index: 2;
  font-size: 13px;
  padding: 17px 0 0;
}

.alert {
  &-sot-danger {
    background-image: linear-gradient(rgba($red-danger,.3),rgba($red-danger,0));
    color: $red-danger;
  }
  &-sot-warn {
    background-image: linear-gradient(rgba($yellow-warn,.3),rgba($yellow-warn,0));
    color: $yellow-warn;
  }
  &-sot-orange {
    background-image: linear-gradient(rgba($orange-item,.3),rgba($orange-item,0));
    color: $orange-item;
  }
  &-sot-blue {
    background-image: linear-gradient(rgba($blue-item,.3),rgba($blue-item,0));
    color: $blue-item;
  }
}