<mat-card class="p-0">
    <mat-card-content class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column">
            <div class="row">
                <span>d</span>
            </div>
            <div class="row">
                <span>d</span>
            </div>
            <div class="row">
                <span>d</span>
            </div>
        </div>
        <div class="d-flex">
            <div class="row">
                <i class="far fa-check-circle"></i>
            </div>
        </div>
    </mat-card-content>
</mat-card>