<div class="modal">
  <div class="title-modal">

  </div>
  <div class="body">
    <form action="">
      <div class="nombre-rol">
        <input type="text">
      </div>
      <div class="permisos">
        <div class="permisos-icon">
        sdfgvdsfv
        </div>
        <div class="box-permisos">
          <button type="button" class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>
            Toggle dropdown
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownForm1">

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
