<div class="d-flex justify-content-center my-3 txt-wine">
    <h5>SISTEMAS</h5>
</div>
<div class="list-group list-group-flush mx-2">
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">BAR</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">COCINA</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ CATÁLOGOS</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ CORTES</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ FAJITAS</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ GASTOS</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">+ HABITACIONES</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">NOTIFICACIONES</span>
    </div>
    <div class="d-flex list-group-item py-2 my-1 room-type__item nav-item align-items-center">
        <span class="menu-item__text">REPORTAR MATRÍCULA</span>
    </div>
</div>