<form [formGroup]="form">
  <div class="modal-body">
    <div class="input-rol">
      <label>NOMBRE DE ROL</label>
      <span class="p-input-icon-right">
        <i class="fa-regular fa-user"></i>
        <input formControlName="nombre" type="text" >
      </span>
    </div>
    <div class="permisos">
      <div class="permisos-select_menu">
        <i class="fas fa-house-chimney-window " (click)="selectMenu(1)" [class.activate]="menu == 1"></i>
        <i class="fab fa-android" (click)="selectMenu(2)" [class.activate]="menu == 2"></i>
        <i class="fab fa-buffer" (click)="selectMenu(3)" [class.activate]="menu == 3"></i>
        <i class="fab fa-cc-amazon-pay" (click)="selectMenu(4)" [class.activate]="menu == 4"></i>
      </div>

      <div formGroupName="permisos" class="body-permisos" *ngIf="separadorTotal[menu - 1].modal.length > 0 || separadorTotal[menu - 1].button.length > 0">
        <div class="permisos-select_buttons" *ngFor="let boton of separadorTotal[menu - 1].modal" >
          <button class="botton-desplegable" [ngStyle]="{color: boton.color}" type="text" pButton label="Basic"
            (click)="op.toggle($event)">
            <i [class]="boton.icon"></i>
            {{boton.nombre}}
          </button>
          <p-overlayPanel #op [showCloseIcon]="false">
            <ng-template pTemplate class="container-button_opcions">
              <div class="content-buttton_toggle">
                <button *ngFor="let permiso of boton.permisos" class="button--inside_desplegable" [class.activate]="permiso.valor">{{permiso.nombre}}</button>
                <br>
                <button class="button--inside_desplegable">Seleccionar todo</button>
              </div>
            </ng-template>
          </p-overlayPanel>
        </div>
        <div class="permisos-select_buttons" *ngFor="let boton of separadorTotal[menu - 1].button" >
          <button class="botton-desplegable" [ngStyle]="{color: boton.color}" [class.activate]="boton.valor">
            <i [class]="boton.icon"></i>
            {{boton.nombre}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
