<p-dialog [(visible)]="display"  [resizable]="false" [modal]="true" [closable]="false" [draggable]="false"
  [showHeader]="false">
  <form [formGroup]="form" class="form-content">
    <div class="total">
      Total: $1,000
    </div>
    <div class="content-dropdown">
      <label>TARIFA</label>
      <p-dropdown scrollHeight="147px" [showClear]="true" placeholder="Seleccione la forma de pago"
        [options]="tiposDePago" [formControl]="tipoDePago" optionLabel="name" optionValue="value"></p-dropdown>
    </div>
    <div class="content-forms">
      <div *ngIf="tipoDePago.value== null || tipoDePago.value== 1" class="ningun-pago">
      </div>
      <app-pago-tarjeta [totalPagar]="total" *ngIf="tipoDePago.value== 2" (newItemEvent)="addForm($event)">
      </app-pago-tarjeta>
      <app-pago-mixto [totalPagar]="total" *ngIf="tipoDePago.value== 3" (newItemEvent)="addForm($event)"></app-pago-mixto>
      <div *ngIf="tipoDePago.value== 4" class="cortesia">
        <label>CORTESÍA</label>
        <span class="p-float-label text-area">
          <textarea formControlName="observacion" id="float-input" rows="5" cols="35" pInputTextarea></textarea>
          <label for="float-input">Observaciones</label>
        </span>
      </div>
      <div *ngIf="tipoDePago.value== 5" class="consumo-interno">
        <div class="tittle-consumo-interno">
          <label>Empleado:</label>
          <input formControlName="empleado" type="text" pInputText placeholder="Ingresa Empleado">
        </div>
        <span class="p-float-label text-area">
          <textarea formControlName="observacion" id="float-input" rows="4" cols="35" pInputTextarea></textarea>
          <label for="float-input">Observaciones</label>
        </span>
      </div>
    </div>
    <div class="modal-footer-content">
      <button class="button-modal button-salir" (click)="salir()">
        <div class="icon">
          <i class="fa-solid fa-rotate-left"></i>
        </div>
        <div class="text">Salir</div>
      </button>
      <button (click)="aceptar()" class="button-modal button-aceptar" [disabled]="form.invalid || tipoDePago.value== null">
        <div class="icon">
          <i class="fa-solid fa-check"></i>
        </div>
        <div class="text">Aceptar</div>
      </button>
    </div>
  </form>
</p-dialog>
