@import './../../../../../library.scss';

.form-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  overflow: auto;
  font-family: $font-secundaria;

  & .form-left{
    border-radius: $border-radius-tittle;
    box-shadow: $shadow-boton;
    padding: 14px 40px 5px;
    margin: 18px;
    height: auto;

    & .titulo h1{
      text-align: center;
      color: $color-text;
      font-size: 27px;
      font-weight: 700;
    }

    & p{
      color: $wine;
      font-weight: 600;
      border-bottom: 1px solid $wine;
      margin: 0;
    }
  }

  & .form-rigth{
    border-radius: $border-radius-tittle;
    box-shadow: $shadow-boton;
    padding: 7px 20px;
    margin: 18px;
    height: auto;

    & .form-component {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 5px;

      & h2{
        color: $grey-item;
        font-size: 16px;
        font-weight: 400;
      }
    }

    & .titulo-rigth{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      & h1{
        text-align: center;
        color: $color-text;
        font-size: 27px;
        font-weight: 700;
      }

      & .info-habitacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .number{
          color: $wine;
        font-size: 20px;
        font-weight: 700;
        }
        & .tipo{
          color: $color-text;
          font-weight: 600;
        }
      }
    }



    & .total{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $red-danger;
      text-align: center;
      font-size: 4vh;
      font-weight: bolder;
    }

  }
}

.text-area{
  margin-top: 17px;
}

.form-component_contador{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 20vw;
  & .divisor-form-l{
    width: 53%;
    display: flex;
    flex-direction: row;
    align-items: center;

    & p{
      margin: 0;
      margin-left: 10px;
      color: $grey;
      font-size: 18px;
    }
  }

  & .divisor-form-r{
    width: 47%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;


    & p{
      margin: 0;
      margin-left: 5px;
      color: $red-danger;
      border-bottom: 1px solid $color-text;
      font-size: 18px;
      font-weight: 100;
    }
  }
}

.form-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.radio-button{
  display: flex;
}


