<header>
    <nav class="navbar d-flex navbar-expand-sm justify-content-between navbar-toggleable-sm navbar-light bg-white border-bottom">
        <div id="app-header" class="w-100 d-flex justify-content-between">
            <div class="w-100 d-flex justify-content-between text-center">
                <span class="col-2 col-sm-3"></span>
                <div class="px-0 imagen-logo">
                    <img src="./assets/img/motelv_Logo.png" alt="Motel Logo" class="mx-2">
                </div>
                <div class="px-0 data-head">
                    <div class="clock-box d-flex flex-column">
                        <span id="dia" class="txt-danger">{{fecha|date:'d'}}</span>
                        <span id="diaLetra" class="txt-danger">{{fecha|date:'EEEE'|uppercase}}</span>
                        <span id="mes">
                            {{fecha|date:'MMMM'|uppercase}}, {{fecha|date:'YYYY'}}
                        </span>
                        <span id="reloj" class="txt-danger">{{time|date:'HH:mm'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>