@import "../../../../../../library.scss";

.container-roomservice {
  display    : flex;
  width      : 95vw;
  font-family: $font-secundaria;
}

.input-search {
  margin-bottom: 5px;
}

.container-list_products {
  box-shadow   : $shadow-modal-tittle;
  border-radius: $border-radius-tittle;
  margin       : 15px;
  padding      : 10px 16px;
  text-align   : center;
  width        : 75%;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance   : textfield;
  appearance        : textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.all-list_products {
  display       : flex;
  flex-direction: row;
  flex-wrap     : nowrap;
  align-items   : flex-start;
  border-radius : $border-button;
  text-align    : center;
  height        : 90%;

  & .list-product-food {
    display       : flex;
    flex-direction: column;
    margin        : 5px;
    width         : 25%;
    height        : 77vh;


    & .title-list {
      border-radius   : $border-button;
      text-align      : center;
      background-color: #ff9100;
      color           : whitesmoke;
      margin-bottom   : 5px;
      box-shadow      : 0px 0px 8px 0px rgba(255,145,0,1);
    }

    & .body-list {
      display       : flex;
      flex-direction: column;
      align-items   : center;
      border-radius : $border-button;
      border        : 1px solid #ff9100;
      box-shadow: 0px 0px 7px 0px rgb(255 145 0);
      color         : #000000c7;
      overflow-x    : auto;
      height        : 100%;
      max-height    : 77vh;

      &::-webkit-scrollbar-thumb {
        background: #ff9100;
      }

      & .product {
        padding      : 0 5px;
        border       : none;
        border-radius: $border-button;
        background   : #ffb759;
        margin       : 2px 0;
        cursor       : pointer;
        width        : 97%;

        &:hover {
          color     : white;
          background: #ff9100;
        }
      }
    }
  }

  & .list-product-drink {
    display       : flex;
    flex-direction: column;
    margin        : 5px;
    width         : 25%;
    height        : 77vh;

    & .title-list {
      border-radius   : $border-button;
      text-align      : center;
      background-color: #c72c41;
      color           : whitesmoke;
      margin-bottom   : 5px;
      box-shadow: 0px 0px 7px 0px rgba(199,44,65,1);
    }

    & .body-list {
      display       : flex;
      flex-direction: column;
      align-items   : center;
      border-radius : $border-button;
      border        : 1px solid #c72c41;
      color         : #000000c7;
      overflow-x    : auto;
      height        : 100%;
      max-height    : 77vh;
      box-shadow: 0px 0px 7px 0px rgba(199,44,65,1);

      &::-webkit-scrollbar-thumb {
        background: #c72c41;
      }

      & .product {
        padding      : 0 5px;
        border       : none;
        border-radius: $border-button;
        background   : #d56171;
        margin       : 2px 0;
        cursor       : pointer;
        width        : 97%;

        &:hover {
          color     : white;
          background: #c72c41;
        }
      }
    }
  }

  & .list-product-other {
    display       : flex;
    flex-direction: column;
    margin        : 5px;
    width         : 25%;
    height        : 77vh;

    & .title-list {
      border-radius   : $border-button;
      text-align      : center;
      background-color: #058e6e;
      color           : whitesmoke;
      margin-bottom   : 5px;
      box-shadow: 0px 0px 7px 0px rgba(5,142,110,1);

    }

    & .body-list {
      display       : flex;
      flex-direction: column;
      align-items   : center;
      border-radius : $border-button;
      border        : 1px solid #058e6e;
      color         : #000000c7;
      overflow-x    : auto;
      height        : 100%;
      max-height    : 77vh;
      box-shadow: 0px 0px 7px 0px rgba(5,142,110,1);


      &::-webkit-scrollbar-thumb {
        background: #058e6e;
      }

      & .product {
        padding      : 0 5px;
        border       : none;
        border-radius: $border-button;
        background   : #76c1af;
        margin       : 2px 0;
        cursor       : pointer;
        width        : 97%;

        &:hover {
          color     : white;
          background: #058e6e;
        }
      }
    }
  }

  & .list-product-sex_spa {
    display       : flex;
    flex-direction: column;
    margin        : 5px;
    width         : 25%;
    height        : 77vh;

    & .title-list {
      border-radius   : $border-button;
      text-align      : center;
      background-color: #7b09a6;
      color           : whitesmoke;
      margin-bottom   : 5px;
      box-shadow: 0px 0px 7px 0px rgba(123,9,166,1);

    }

    & .body-list {
      display       : flex;
      flex-direction: column;
      align-items   : center;
      border-radius : $border-button;
      border        : 1px solid #7b09a6;
      color         : #000000c7;
      overflow-x    : auto;
      height        : 100%;
      max-height    : 77vh;
      box-shadow: 0px 0px 7px 0px rgba(123,9,166,1);


      &::-webkit-scrollbar-thumb {
        background: #7b09a6;
      }

      & .product {
        padding      : 0 5px;
        border       : none;
        border-radius: $border-button;
        background   : #a95fc5;
        margin       : 2px 0;
        cursor       : pointer;
        width        : 97%;

        &:hover {
          color     : white;
          background: #7b09a6;
        }
      }
    }
  }

}

.container-info_buy {
  display        : flex;
  flex-direction : column;
  flex-wrap      : nowrap;
  justify-content: space-between;
  box-shadow     : $shadow-modal-tittle;
  border-radius  : $border-radius-tittle;
  text-align     : center;
  padding        : 10px 15px 0px;
  font-weight    : 500;
  margin         : 15px 5px;
  width          : 25%;
  height         : 88vh;

  & .container-info_product_buy {
    box-shadow   : $shadow-modal-tittle;
    border-radius: $border-radius-tittle;
    height       : 100%;
    max-height   : fit-content;
    margin       : 5px 0;
    padding      : 2px 10px;
    overflow     : overlay;
  }

  & .title-info_buy {
    color      : $wine;
    font-size  : 18pt;
    font-weight: 700;
  }

  & .container-info_product_buy {
    box-shadow   : $shadow-modal-tittle;
    border-radius: $border-radius-tittle;
    margin-top   : 5px;
    font-size    : $font-normal-size;
  }

  & .button-cortesia {
    background-color: #7b09a6;
    color           : whitesmoke;
    border-radius   : 15px;
    margin          : 5px 0;
    transition: all 0.3s;


    &.activate {
      background-color: whitesmoke;
      color           : #7b09a6;
      border          : 2px solid #7b09a6;
      box-shadow: 0px 0px 7px 0px rgba(123,9,166,1);
      transition: all 0.3s;


    }
  }

  & .button-cortesia {
    box-shadow   : $shadow-boton;
    border-radius: $border-radius-tittle;
    color        : white;
    border       : none;
    width        : 100%;
  }



  & .container-info {
    box-shadow   : $shadow-modal-tittle;
    border-radius: $border-radius-tittle;
    padding      : 5px;
    font-weight  : 400;
  }

  & .info-pay {
    display        : flex;
    color          : $red-danger;
    font-size      : $font-normal-size;
    justify-content: space-between;
  }
}

.name-product {
  width: 45%;


}

.icons-product {
  display        : flex;
  width          : 15%;
  flex-direction : row;
  justify-content: space-around;
  align-items    : center;

  & i.rotate {
    transform : rotate(180deg);
    transition: all 0.3s;
  }

  & i {
    transition: all 0.3s;
  }

  & i.trash:hover {
    color: $red-danger;
  }
}

.container-buy_colapse.food {
  background-color: #ff9100;
  border-radius   : $border-radius-tittle;

  & .form-buy-container {
    & .number-input-form_buy {
      display        : flex;
      width          : 39%;
      flex-direction : row;
      justify-content: center;
      margin         : 5px auto;
      align-items    : flex-end;

      & .button-form {
        display        : flex;
        background     : white;
        color          : #ff9100;
        padding        : 0;
        margin         : 0;
        height         : 4vh;
        width          : 4vw;
        text-align     : center;
        align-items    : center;
        border-radius  : 5px;
        justify-content: center;
      }

      & input {
        border       : none;
        background   : transparent;
        border-bottom: 2px solid #e9ecef;
        width        : 100%;
        color        : white;
        text-align   : center;
        margin       : 0 5px;
        font-weight  : 500;
        font-size    : large;
      }
    }

    textarea {
      margin-top: 5px;
      width     : 88%;
    }

  }

  & button {
    border-radius   : $border-radius-tittle;
    margin-top      : 5px;
    display         : flex;
    width           : 100%;
    border          : none;
    color           : white;
    background-color: #ff9100;
    padding-top     : 3px;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : baseline;
  }
}

.container-buy_colapse.drinks {
  background-color: #c72c41;
  border-radius   : $border-radius-tittle;

  & .form-buy-container {
    & .number-input-form_buy {
      display        : flex;
      width          : 39%;
      flex-direction : row;
      justify-content: center;
      margin         : 5px auto;
      align-items    : flex-end;

      & .button-form {
        display        : flex;
        background     : white;
        color          : #c72c41;
        padding        : 0;
        margin         : 0;
        height         : 4vh;
        width          : 4vw;
        text-align     : center;
        align-items    : center;
        border-radius  : 5px;
        justify-content: center;
      }

      & input {
        border       : none;
        background   : transparent;
        border-bottom: 2px solid #e9ecef;
        width        : 100%;
        color        : white;
        text-align   : center;
        margin       : 0 5px;
        font-weight  : 500;
        font-size    : large;
      }
    }

    textarea {
      margin-top: 5px;
      width     : 88%;
    }
  }

  & button {
    border-radius: $border-radius-tittle;
    margin-top   : 5px;
    padding-top  : 3px;

    display         : flex;
    width           : 100%;
    border          : none;
    color           : white;
    background-color: #c72c41;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : baseline;
  }
}

.container-buy_colapse.other {
  background-color: #058e6e;
  border-radius   : $border-radius-tittle;

  & .form-buy-container {
    & .number-input-form_buy {
      display        : flex;
      width          : 39%;
      flex-direction : row;
      justify-content: center;
      margin         : 5px auto;
      align-items    : flex-end;

      & .button-form {
        display        : flex;
        background     : white;
        color          : #058e6e;
        padding        : 0;
        margin         : 0;
        height         : 4vh;
        width          : 4vw;
        text-align     : center;
        align-items    : center;
        border-radius  : 5px;
        justify-content: center;
      }

      & input {
        border       : none;
        background   : transparent;
        border-bottom: 2px solid #e9ecef;
        width        : 100%;
        color        : white;
        text-align   : center;
        margin       : 0 5px;
        font-weight  : 500;
        font-size    : large;
      }
    }

    textarea {
      margin-top: 5px;
      width     : 88%;
    }
  }

  & button {
    border-radius   : $border-radius-tittle;
    margin-top      : 5px;
    padding-top     : 3px;
    display         : flex;
    width           : 100%;
    border          : 1px solid #058e6e;
    color           : white;
    background-color: #058e6e;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : baseline;
  }
}

.container-buy_colapse.sexyspa {
  background-color: #7b09a6;
  border-radius   : $border-radius-tittle;

  & .form-buy-container {
    & .number-input-form_buy {
      display        : flex;
      width          : 39%;
      flex-direction : row;
      justify-content: center;
      margin         : 5px auto;
      align-items    : flex-end;

      & .button-form {
        display        : flex;
        background     : white;
        color          : #7b09a6;
        border         : none;
        padding        : 0;
        margin         : 0;
        height         : 4vh;
        width          : 4vw;
        text-align     : center;
        align-items    : center;
        border-radius  : 5px;
        justify-content: center;
      }

      & input {
        border       : none;
        background   : transparent;
        border-bottom: 2px solid #e9ecef;
        width        : 100%;
        color        : white;
        text-align   : center;
        margin       : 0 5px;
        font-weight  : 500;
        font-size    : large;
      }
    }

    textarea {
      margin-top: 5px;
      width     : 88%;
    }

  }

  & .button-buy_colapse {
    border-radius   : $border-radius-tittle;
    margin-top      : 5px;
    display         : flex;
    width           : 100%;
    border          : none;
    color           : white;
    background-color: #7b09a6;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : baseline;
    padding-top     : 3px;
  }
}
