//* Variables para colores
$wine             : #801336;
$wine-hover       : #862f4a;
$grey             : #495057;
$strong-grey      : #3C3C3C;
$dark-grey        : #373737;
$color-title-grey : #9b9898;

//* Botones
$green-item       :#0AC917;
$yellow-warn      :#FFD500;
$yellow-button    :#e78300;
$red-danger       :#fd0022;
$orange-item      :#db932f;
$blue-item        :#008deb;
$purple-item      :#a703fb;
$grey-item        :#707070;
$hover-grey       :#e5e5e5bf;
$blue-visa        :#1a1f71;
$orange-mc        :#ff5f00;
$blue-AE          :#0061b6;
$green-money      :#008000;
$gren-button-ver  :#058e6e;
$grey-button-modal:#536371;

//* Border
$border-item-list:1px solid #d3d2d2;

//* Modal
$gray-background: #e4e4e4;

//* Texto
$color-text: #212529;

//* Border-radius
$border-radius-tittle: 10px;
$border-button       :5px;
//* Shadows
$shadow-modal-tittle :0 0 5pt rgb(0 0 0 / 50%);
$shadow-boton        : 10px 10px 13px #e1e1e1,
-6px -2px 9px #e1e1e1;
$shadow-item-list:4px 3px 6px #d3d3d3,
-6px -6px 5px #fff;

//* Font

$font-principal: "Epilogue",
sans-serif;
$font-secundaria: 'Rubik',
sans-serif;

//* Font sise

$font-normal-size: 10pt;


//* Mixins para color de fondos
@mixin bg-success {
    background-color: $green-item;
  }
  
  @mixin bg-danger {
    background-color: $red-danger;
  }
  
  @mixin bg-warn {
    background-color: $yellow-warn;
  }
  
  @mixin bg-orange {
    background-color: $orange-item;
  }
  
  @mixin bg-blue {
    background-color: $blue-item;
  }
  
  @mixin bg-purple {
    background-color: $purple-item;
  }
  
  @mixin bg-wine {
    background-color: $wine;
  }
  
  @mixin bg-grey-item {
    background-color: $grey-item;
  }

  //* mixins para color de textos
// mixins para color de textos
@mixin txt-wine {
  color: $wine;
}

@mixin txt-success {
  color: $green-item;
}

@mixin txt-danger {
  color: $red-danger;
}

@mixin txt-warn {
  color: $yellow-warn;
}

@mixin txt-orange {
  color: $orange-item;
}

@mixin txt-blue {
  color: $blue-item;
}

@mixin txt-purple {
  color: $purple-item;
}

@mixin txt-grey-item {
  color: $grey-item;
}

// Rangos de z-index
$lvl1 : 10;
$lvl2 : 20;
$lvl3 : 30;
$lvl4 : 40;
$lvl5 : 50;
$lvl6 : 60;
$lvl7 : 70;
$lvl8 : 80;
$lvl9 : 90;
$lvl10: 100;