/**
  *---------------------------------------------------------------------------------------
  *------------------------------Estilos De Librerias-------------------------------------
  *---------------------------------------------------------------------------------------
*/


//* Importacion de Angular material
//? Custom Theming for Angular Material
//*?For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

//? Plus imports for other components in your app.
//? Include the common styles for Angular Material. We include this here so that you only
//? have to load a single css file for Angular Material in your app.
//? Be sure that you only ever include this mixin once!

@include mat.core();

// * Importacion Font aweson
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

@import '/src/library.scss';

//? Define the palettes for your theme using the Material Design palettes available in palette.scss
//? (imported above). For each palette, you can optionally specify a default, lighter, and darker
//? hue. Available color palettes: https://material.io/design/color/
$SOTNew-primary: mat.define-palette(mat.$indigo-palette);
$SOTNew-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

//? The warn palette is optional (defaults to red).
$SOTNew-warn: mat.define-palette(mat.$red-palette);

//? Create the theme object. A theme consists of configurations for individual
//? theming systems such as "color" or "typography".
$SOTNew-theme: mat.define-light-theme(
  (
    color: (
      primary: $SOTNew-primary,
      accent: $SOTNew-accent,
      warn: $SOTNew-warn,
    ),
  )
);

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #303d41;
}

@font-face {
  font-family: 'epilogueFont';
  src: url('./assets/libs/font/Epilogue-Regular.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-Light.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-Bold.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-Black.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-ExtraBold.ttf') format('truetype');

  font-family: 'rubikFont';
  src: url('./assets/libs/font/Rubik-Regular.ttf'),
       url('./assets/libs/font/Rubik-Bold.ttf'),
       url('./assets/libs/font/Rubik-Light.ttf');

}

//? Include theme styles for core and each component used in your app.
//? Alternatively, you can import and @include the theme mixins for each component
//? that you are using.
@include mat.all-component-themes($SOTNew-theme);

//* Importacion de boostrap
/*  You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'epilogueFont', Arial, Helvetica, sans-serif;
  background: #f1f1f1

}

/**
  *--------------------------------------------------------------------------------------------
  *------------------------------Estilos generales personalizados post factorizado-----------
  *---------------------------------------------------------------------------------------------
*/

//* Estilos de botones



//* Estilos Cuerpo Modal
hr{
  color: $grey-item !important;
  border-top: 2px solid !important;
  width: 80% !important;
  margin: .3rem 0 !important;
}

textarea {
  resize: none;
}

.header-modal{
  margin: 0 -24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  border-bottom: 0 none;
  background: #e4e4e4;
  color: $color-title-grey;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  font-family: $font-principal;
}

.modal-footer-content{
  padding-top: 11px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 10px;

  & .button-modal{
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 4rem;
    height: 3.9rem;
    margin: 0 1.5rem 0 0;

    & .icon{
      font-size: 3vh;
    }
    & .text{
      font-size: 2vh;
    }
  }

  button:disabled{
    background-color: $grey-item;
    cursor: not-allowed;
  }


}

.button-salir{
  background-color: $wine;
  box-shadow: 0 3px 6px #80133680;

}
.button-aceptar{
  background-color: $green-item;
}


//* Estilos de formularios
input {
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
}

textarea {
  border-radius: 14px;
  box-shadow: 0 0 3pt rgb(0 0 0 / 48%);
  border: none;
}


label{
  font-family: 'Rubik',sans-serif;
  color: $grey-item;
  font-size: 13pt;
  font-weight: 700;
}

input:focus {
  outline: none;
}

// Rangos de z-index
$lvl1: 10;
$lvl2: 20;
$lvl3: 30;
$lvl4: 40;
$lvl5: 50;
$lvl6: 60;
$lvl7: 70;
$lvl8: 80;
$lvl9: 90;
$lvl10: 100;


// Mixins para color de fondos
@mixin bg-success {
  background-color: $green-item;
}

@mixin bg-danger {
  background-color: $red-danger;
}

@mixin bg-warn {
  background-color: $yellow-warn;
}

@mixin bg-orange {
  background-color: $orange-item;
}

@mixin bg-blue {
  background-color: $blue-item;
}

@mixin bg-purple {
  background-color: $purple-item;
}

@mixin bg-grey-item {
  background-color: $grey-item;
}

// Color de fondos
.sot-bg-success {
  @include bg-success;
}

.sot-bg-danger {
  @include bg-danger;
}

.sot-bg-warn {
  @include bg-warn;
}

.sot-bg-orange {
  @include bg-orange;
}

.sot-bg-blue {
  @include bg-blue;
}
.sot-bg-purple {
  @include bg-purple;
}
.sot-bg-grey-item {
  @include bg-grey-item;
}

// mixins para color de textos
@mixin txt-success{
  color: $green-item;
}

@mixin txt-danger{
  color: $red-danger;
}
@mixin txt-warn{
  color: $yellow-warn;
}
@mixin txt-orange{
  color: $orange-item;
}
@mixin txt-blue{
  color: $blue-item;
}
@mixin txt-purple{
  color: $purple-item;
}
@mixin txt-grey-item{
  color: $grey-item;
}

// Color de textos
.txt-success {
  @include txt-success;
}
.txt-danger {
  @include txt-danger;
}
.txt-warn {
  @include txt-warn;
}
.txt-orange {
  @include txt-orange;
}
.txt-blue {
  @include txt-blue;
}
.txt-purple {
  @include txt-purple;
}
.txt-grey-item {
  @include txt-grey-item;
}
