/**
  *---------------------------------------------------------------------------------------
  *------------------------------Estilos De Librerias-------------------------------------
  *---------------------------------------------------------------------------------------
*/


//* Importacion de Angular material
//? Custom Theming for Angular Material
//*?For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

//? Plus imports for other components in your app.
//? Include the common styles for Angular Material. We include this here so that you only
//? have to load a single css file for Angular Material in your app.
//? Be sure that you only ever include this mixin once!

@include mat.core();

// * Importacion Font aweson
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

@import '/src/library.scss';

//? Define the palettes for your theme using the Material Design palettes available in palette.scss
//? (imported above). For each palette, you can optionally specify a default, lighter, and darker
//? hue. Available color palettes: https://material.io/design/color/
$SOTNew-primary: mat.define-palette(mat.$indigo-palette);
$SOTNew-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

//? The warn palette is optional (defaults to red).
$SOTNew-warn: mat.define-palette(mat.$red-palette);

//? Create the theme object. A theme consists of configurations for individual
//? theming systems such as "color" or "typography".
$SOTNew-theme: mat.define-light-theme(
  (
    color: (
      primary: $SOTNew-primary,
      accent: $SOTNew-accent,
      warn: $SOTNew-warn,
    ),
  )
);

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #303d41;
}

@font-face {
  font-family: 'epilogueFont';
  src: url('./assets/libs/font/Epilogue-Regular.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-Light.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-Bold.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-Black.ttf') format('truetype'),
       url('./assets/libs/font/Epilogue-ExtraBold.ttf') format('truetype');

  font-family: 'rubikFont';
  src: url('./assets/libs/font/Rubik-Regular.ttf'),
       url('./assets/libs/font/Rubik-Bold.ttf'),
       url('./assets/libs/font/Rubik-Light.ttf');

}

//? Include theme styles for core and each component used in your app.
//? Alternatively, you can import and @include the theme mixins for each component
//? that you are using.
@include mat.all-component-themes($SOTNew-theme);

//* Importacion de boostrap
/*  You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'epilogueFont', Arial, Helvetica, sans-serif;
  background: #f1f1f1

}

/**
  *--------------------------------------------------------------------------------------------
  *------------------------------Estilos generales personalizados post factorizado-----------
  *---------------------------------------------------------------------------------------------
*/

//* Estilos de botones

.botton-aceptar {
}

//* Estilos Cuerpo Modal

.modal-body{
  margin: 5px;
  color: $color-text;
  & .modal-body_content{

  }
  & .modal-body_footer{

  }
}

//* Estilos de formularios
input {
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
}

label{
  font-family: 'Rubik',sans-serif;
  color: $grey-item;
  font-size: 14pt;
  font-weight: 700;
}

input:focus {
  outline: none;
}

@mixin bg-warn {
  background-color: $yellow-warn;
}

@mixin bg-orange {
  background-color: $orange-item;
}

@mixin bg-blue {
  background-color: $blue-item;
}

@mixin bg-purple {
  background-color: $purple-item;
}

@mixin bg-grey-item {
  background-color: $grey-item;
}

// Color de fondos
.sot-bg-success {
  @include bg-success;
}

.sot-bg-danger {
  @include bg-danger;
}

.sot-bg-warn {
  @include bg-warn;
}

.sot-bg-orange {
  @include bg-orange;
}

.sot-bg-blue {
  @include bg-blue;
}
.sot-bg-purple {
  @include bg-purple;
}
.sot-bg-grey-item {
  @include bg-grey-item;
}

// mixins para color de textos
@mixin txt-success{
  color: $green-item;
}

@mixin txt-danger{
  color: $red-danger;
}
@mixin txt-warn{
  color: $yellow-warn;
}
@mixin txt-orange{
  color: $orange-item;
}
@mixin txt-blue{
  color: $blue-item;
}
@mixin txt-purple{
  color: $purple-item;
}
@mixin txt-grey-item{
  color: $grey-item;
}

// Color de textos
.txt-success {
  @include txt-success;
}
.txt-danger {
  @include txt-danger;
}
.txt-warn {
  @include txt-warn;
}
.txt-orange {
  @include txt-orange;
}
.txt-blue {
  @include txt-blue;
}
.txt-purple {
  @include txt-purple;
}
.txt-grey-item {
  @include txt-grey-item;
}
hr{
  color: $grey-item !important;
}
/* Importing Bootstrap SCSS file. */
