@import '../../styles.scss';

:host{
  overflow: hidden;
}

.sidenav {
  top: 1vh;
  height: 99vh;
  border-top-right-radius: 25px;
  width: 15vw;
  position: fixed;
}

.sidebar-hidden {
  position: fixed;
  border: none;
  height: 825px;
  top: 12vh;
}

.front {
  z-index: $lvl10;
}

.back {
  z-index: $lvl1;
}

// Ipad mini
@media (max-width: 1025px) and (orientation: landscape) {
}

.example-container {
    width: 100%;
    height: 88vh;
  }
  
  .example-sidenav-content {
    height: 90vh;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  
@media (max-width: 1025px) and (orientation: landscape) {
  .sidenav {
      width: 23vw;
  }
}