<app-nav-menu></app-nav-menu>
<mat-drawer-container  class="example-container" autosize>
  <mat-drawer
    #sidenav
    class="sidenav"
    mode="side"
    disableClose="true"
    *ngIf="(showSidenav | async); else hiddenSidenav"
    appSidenav
  >
  <app-sidebar></app-sidebar>
  </mat-drawer>
  <ng-template #hiddenSidenav>
    <mat-drawer  class="bg-dark"
        mode="side"
        disableClose="true"
        class="bg-transparent sidebar-hidden"
        appSidenav
      >
      <app-sidebar-hidden></app-sidebar-hidden>
    </mat-drawer>
  </ng-template>
  <div class="sidenav-content">
    <button type="button" (click)="openModal('entradaDeHabitacion')">Entrada a habitacion</button>
    <button type="button" (click)="openModal('rolesYPermisos')">roles Y permisos</button>
    <button type="button" (click)="openModal('rentaHabitacion')">Renta Habitacion</button>
    <div class="mx-3">
      <app-room-types></app-room-types>
    </div>
  </div>
</mat-drawer-container>
<router-outlet></router-outlet>
