<div class="rooms-container">
    <div 
        class="row col-1 rooms-group" 
        *ngFor="let roomType of roomsByType; let i = index;"
        [ngStyle]="{'margin-top': marginYSkySuite(i), 'margin-left': marginXSkySuite(i)}"
        id="roomtype_{{roomType.name}}"
        #roomsTypeRef
    >
        <div class="ml-2">
            <h6 class="mt-4 mb-1">{{roomType.name}}</h6>
            <div class="d-flex justify-content-start flex-wrap">
                <div #roomsRef *ngFor="let room of roomType.rooms" id="type_{{roomType.name}}__room_{{room.roomNumber}}">
                    <app-room
                    [attr.custom-status]="room.status"
                    [attr.custom-expirada]="room.statusTimer > 3600 ? 'expirada' : 'no-expirada'"
                    [status]="room.status"
                    [statusTimer]="room.statusTimer"
                    [roomNumber]="room.roomNumber"
                    [matricula]="room.matricula"
                    [observaciones]="room.observaciones"
                    [camaristaOCamaristas]="room.camaristaOCamaristas"
                    [supervisor]="room.supervisor"
                    [tarifa]="room.tarifa"
                    [tipoMantenimiento]="room.tipoMantenimiento"
                    (click)="selectRoom(room)"
                    ></app-room>
                </div>
            </div>
        </div>
    </div>
</div>
