.rooms-container2 .div-room-card,
.rooms-container .div-room-card{
  margin-top: 0.5vh;
  margin-right: 0.5vh;
  flex-grow: inherit;
  width: auto;
}

.d-flex-pool-spa .div-room-card{
    margin-top: 0.5vh;
    margin-right: 0.5vh;
    flex-grow: inherit;
    width: auto;
  }

  .d-flex-junior-suit .div-room-card{
    margin-top: 0.5vh;
    margin-right: 0.5vh;
    flex-grow: inherit;
    width: auto;
  }