<p-dialog [(visible)]="display" [closable]="false" [modal]="true" [draggable]="false" [showHeader]="true" header="Liberar Habitación">
    <div class="modalBody" id="modalSOTLiberarHabitacion">
        <div class="row modal-content modal-dialog modal-dialogSOT">
            <div class="row rowModal body-ModalSOT box-modal" style="overflow-y:auto;">
                <div 
                    class="concepto-lib-touple my-2 mx-4" 
                    *ngFor="let detalle of detalles 
                    let i = index" 
                    (click)="selectDetalle(detalle, i)" 
                    #detallesRef 
                    [id]="'detalle_' + i"
                >
                    <p class="w-100">{{detalle.text}}</p>
                </div>
            </div>
            <form [formGroup]="form">
                <textarea 
                    formControlName="motivo"
                    placeholder="OBSERVACIONES"
                    rows="4"
                    cols="36"
                    pInputTextarea 
                    [attr.disabled]="liberacion.conDetalle ? null: '' "
                ></textarea>
            </form>
            <div class="modal-footer-content">
                <div class="col s12 m12 l12 text-center">
                    <button class="button-modal button-salir" (click)="salir()">
                        <div class="icon">
                          <i class="fas icon-icon-metro-exit"></i>
                        </div>
                        <div class="text">Salir</div>
                    </button>
                    <button  
                      (focus)="aceptar()"
                      class="button-modal button-aceptar"
                      [attr.disabled]="enableAceptarButton() ? null: '' "    
                    >
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <div class="text">Aceptar</div>
                    </button>
                </div>
              </div>
        </div>
    </div>
</p-dialog>