
.concepto-lib-touple {
  cursor:pointer;
  height: 50px;
  background-color:white;
  border: 1px solid #582222;
  border-radius: 12px;
  font-family: 'Epilogue';
  box-shadow: 0pt 3pt 6pt #00000019;
  text-align: center;
  display: table;
  width: -webkit-fill-available;
}


.concepto-lib-touple:hover {
  background-color: #ededed;
  border-radius: 12px;
}

.concepto-lib-touple-assigned {
  cursor:pointer;
  height: 50px;
  background-color:#801336;
  border-radius: 12px;
  font-family: 'Epilogue';
  box-shadow: 0pt 3pt 6pt #00000019;
  text-align: center;
  display: table;
  width: -webkit-fill-available;
}

.concepto-lib-touple-assigned p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 500;
  cursor:pointer;
}

.concepto-lib-touple p {
  cursor:pointer;
  display: table-cell;
  vertical-align: middle;
  color: #707070;
  font-weight: 500;
}

.bulletButtonStyleconcepto-lib{
    border-radius: 50%;
    width: 2.2vh;
    height: 2.2vh;
    margin-right: 0.3vw;
    transform: translateY(50%);
}

.box-inside {
    border: solid #C6C5C5;
    border-width: 1px 0 1px 0;
    width: 445px !important;
    height: 80px;
    padding: 0%;
    padding-left: 3px;
  }

.box-inside p {
    font-family: 'Rubik', sans-serif;
    color:#707070;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box-modal {
    box-shadow: 0pt 0pt 9pt #00000045;
    border-radius: 20px;
    min-height: auto;
    width: 430px;
    max-height: 443px;
    border-width: 3pt;  
    background-color: #FFFFFF;
    align-self: center;   
    padding: 0%;
    margin-right: 2rem !important;
    margin-left: 2rem !important;    
    margin: 0.8rem;
    overflow-x: hidden;
    cursor:pointer;
}
